.uber-button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber-button:hover {
  opacity: 0.8;
}

.uber-button:active {
  opacity: 0.6;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 10px 15px;
  border-radius: 75px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.15s;
}

.amazon-button:hover {
  background-color: rgb(242, 204, 11);
}

.amazon-button:active {
  background-color: rgb(227, 191, 10);
}

.github-button {
  background-color: rgb(46, 164, 69);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.github-button:hover {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.github-button:active {
  background-color: rgb(40, 143, 61);
}

.bootstrap-getstarted {
  background-color: rgb(121, 82, 179);
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  transition: background-color 0.15s;
}

.bootstrap-download {
  color: rgb(108, 117, 125);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 10px 15px;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
  border-width: 1px;
  transition: background-color 0.2s, color 0.2s;
}

.bootstrap-getstarted:hover {
  background-color: rgb(107, 73, 158);
}

.bootstrap-getstarted:active {
  background-color: rgb(86, 58, 127);
}

.bootstrap-download:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(108, 117, 125);
}

.linkedIn {
  background-color: rgb(10, 102, 194);
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.2s;
}

.linkedIn:hover {
  background-color: rgb(8, 88, 168);
}

.linkedIn:active {
  background-color: rgb(9, 78, 148);
}

.linkedIn-save {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  padding: 8px 15px;
  border-radius: 40px;
  border-style: solid;
  font-weight: 600;
  border-width: 1.3px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s, border-width 0.2s;
}

.linkedIn-save:hover {
  background-color: rgb(192, 223, 255);
  border-width: 2.1px;
}

.linkedIn-save:active {
  opacity: 0.7;
}

a {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

a:hover {
  color: rgb(62, 49, 23);
}

a:active {
  color: rgb(43, 34, 16);
}

.productDescription {
  font-size: 40px;
  font-weight: 600;
}

.price {
  color: rgb(1, 118, 0);
  font-weight: 600;
}

.amazon-cart {
  border: none;
  background-color: rgb(255, 216, 20);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background-color 0.2s, opacity 0.2s;
}

.amazon-cart:hover {
  background-color: rgb(188, 159, 10);
}

.amazon-cart:active {
  opacity: 0.6;
}

.amazon-buy {
  background-color: rgb(255, 164, 28);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background-color 0.15s, opacity 0.5s;
}

.amazon-buy:hover {
  background-color: rgb(184, 117, 17);
}

.amazon-buy:active {
  opacity: 0.6;
}

.navigation {
  padding: 10px 5px;
  margin: 0 10px;
  cursor: pointer;
}

.page {
  margin: 0 5px;
}

.stretch {
  color: white;
  background-color: green;
  cursor: pointer;
  transition: padding 0.15s;
  border: none;
  padding: 5px 7px;
}

.stretch:hover {
  padding: 10px 20px;
}

.click {
  color: white;
  background-color: green;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 5px 10px;
}

.click:active {
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
}

.one {
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
  transition: padding 0.15s, margin 0.15s;
}

.one:hover {
  padding: 5px 15px;
  margin: 0 5px;
}

.two {
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
  transition: padding 0.15s, margin 0.15s;
}

.two:hover {
  padding: 5px 15px;
  margin: 0 5px;
}

.three {
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
  transition: padding 0.15s, margin 0.15s;
}

.three:hover {
  padding: 5px 15px;
  margin: 0 5px;
}
