p,
input,
button {
  margin-top: 0;
  margin-bottom: 0;
}

.roundedcorner {
  width: 200px;
  border-radius: 10px;
}
.squareimg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.circleimg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  /* border-radius alone can't make the image round,
  It need to have height = width to become round else it will be oval */
}
.search {
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.2px;
}

.googlesearch {
  width: 400px;
  border-radius: 200px;
  border: none;
  border-width: 1.3px;
  line-height: 20px;
  padding: 7px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 13px;
  margin: 5px 0;
}

.join {
  font-size: 20px;
}

.email,
.terms {
  width: 300px;
}
.terms,
.join {
  text-align: center;
}
.email {
  padding: 5px 10px;
  width: 280px;
}

.join {
  padding: 5px 95px;
  text-align: center;
  border-radius: 150px;
  border: none;
  background-color: rgb(0, 58, 135);
  color: white;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}
.message {
  vertical-align: middle;
  border: none;
  padding: 5px;
  margin-left: 5px;
  border-bottom: 3px soild grey;
  border-radius: 30px;
  width: 270px;
  outline: none;
}
.tweet {
  vertical-align: middle;
  padding: 5px 10px;
  color: white;
  background-color: rgb(25, 116, 201);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.message,
.tweet {
  font-size: 15px;
}
