.roundedcorner {
  width: 200px;
  border-radius: 10px;
}
.squareimg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.circleimg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  /* border-radius alone can't make the image round,
  It need to have height = width to become round else it will be oval */
}
.search {
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.2px;
}

.googlesearch{
    width:400px;
    border-radius: 200px;
    border:none;
    border-width: 1.3px;
    line-height: 20px;
    padding:7px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}