input {
  line-height: 23px;
  padding: 5px 13px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: block;
  margin: 10px;
}

p {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

img{
    display:block;
    width:250px;
    margin:0 auto;
}
.gsearch {
  width: 450px;
  margin:15px auto;
}
