p {
  margin: 0;
  font-family: Roboto, Arial;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.video-details {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-preview {
  vertical-align: top;
}
.video-thumbnail img {
  width: 100%;
}

.channel-pic {
  vertical-align: top;
  margin-right: 15px;
}

.channel-pic img {
  width: 100%;
  border-radius: 50%;
}

.video-thumbnail {
  margin-bottom: 10px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 20px;
}

.channel-name,
.channel-details {
  color: grey;
  font-size: 13px;
}
